<% content_for :title do %>
   <%= @milestone.title %>
 <% end %>

 <% content_for :header do %>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
 <% end %>

<h1><%= @milestone.title %></h1>

<%= highlight(@milestone.content.html_safe, params[:highlight]) %>

<div class="pagination">
  <%= link_to "Previous", [@milestone.prev], class: "previous" unless @milestone.prev.nil? %>
  <%= link_to "Next", [@milestone.next], class: "next" unless @milestone.next.nil? %>
</div>
