  <%= render "milestones/navigation" %>


<% content_for :title do %>
  <%= @milestone.title %>
<% end %>

<% content_for :header do %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
<% end %>

<div class="milestone transcription">
  <h1><%= @milestone.title %></h1>
  <%= highlight(@milestone.content.html_safe, params[:highlight], :sanitize => false) %>
</div>

<%= render "milestones/navigation" %>


