<h1>Results</h1>

<%= render("search_form") %>

<p>
  You searched for <strong><%= params[:q] %></strong>
and we found <%= pluralize(@response["response"]["numFound"], 'match') %>.
</p>

<% @response["response"]["docs"].each do |doc| %>
  <% link_path = doc["slug"] + "#" + doc["id"] %>
  <p><a href="/milestones/<%= link_path %>"><%= doc['title'].first %></a></p>
  <%# TODO clean this up!!! %>
  <p><%= highlight(truncate(doc["section"].first, length: 250), params[:q]) %></p>
<% end %>


<%= will_paginate @response["response"]["docs"] %>
