<% content_for :title do %>
  <%= pluralize(@response["response"]["numFound"], 'Result') %> for <%= params[:q] %>
<% end %>

<header>
  <p class="eyebrow">Search</p>
  <h1>
    <%= pluralize(@response["response"]["numFound"], 'Result') %> for "<span><%= params[:q] %></span>"
  </h1>
</header>
<% @response["response"]["docs"].each do |doc| %>
  <article class="search_result">
  <% link_path = doc["slug"] + "?highlight=" + params[:q] + "#" + doc["id"] %>
  <h1><a href="/milestones/<%= link_path %>"><%= doc['title'].first %></a></h1>
  <p><%= highlight(truncate(doc["section"].first, length: 250), params[:q]) %></p>
</article>
  <% end %>

<nav class="pagination">
  <%= will_paginate @response["response"]["docs"] %>
</nav>
