<p id="notice"><%= notice %></p>

<div class="citation">
  <p>
  <%= @witness.author %>. <i><%= @witness.title %></i>. <%= @witness.location %>: <%= @witness.location %>,   <%= @witness.year %>.
  </p>
</div>

<div class="pages">
  <% @witness.pages.each do |page| %>

  <% end %>
</div>
