<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<p>
  <strong>Page number:</strong>
  <%= @page.page_number %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @page.notes %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
