<div class="transcription">
  <div class="page_number">[ <%= @page.slug.titleize %> ] </div>
  <%= @page.content.html_safe %>
</div>

<div id="witnesses">
  <% @page.images.each do |image| %>
    <%= link_to(image_tag(fedora_url(image.pid, 150, 200)), fedora_url(image.pid, 1200, 1200)) %>
<% end %>
</div>

<div class="pagination">
  <%= link_to "Previous", [@page.prev.witness, @page.prev] unless @page.prev.nil? %>
  <%= link_to "Next", [@page.next.witness, @page.next] unless @page.next.nil? %>
</div>
