<p id="notice"><%= notice %></p>

<div class="transription">
  <div class="page_number">[ <%= @page.page_number %> ] </div>
  <%= @page.content.html_safe %>
</div>

<%= link_to "Previous", [@page.prev.witness, @page.prev] %>
<%= link_to "Next", [@page.next.witness, @page.next] %>

