<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', page_path('about') %></li>
    <li><%= link_to 'Credits', page_path('credits') %></li>
    <li><%= link_to 'Navigation', page_path('navigation') %></li>
    <li><%= link_to 'Reading', page_path('reading') %></li>
  </ul>
</nav>
