<nav role="navigation" id="globalnav">
  <ul>
    <li><%= link_to 'Milestones', milestones_path %>
        <%= render "milestones/milestone_nav" %>
    </li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Credits', credits_path %></li>
    <li><%= link_to 'Map', map_path %></li>
    <li class="search">
        <form id="search" action="/search/results" method="get" accept-charset="utf-8">
          <input type="text" name="q" id="search-input" class="searchfield" placeholder="Search..." />
        <input type="submit" name="search-btn" id="search-btn" value="" />
        </form>
    </li>
  </ul>
</nav>

