<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', static_pages_about_path %></li>
    <li><%= link_to 'Credits', static_pages_credits_path %></li>
    <li><%= link_to 'Navigation', static_pages_navigation_path %></li>
    <li><%= link_to 'Reading', static_pages_reading_path %></li>
  </ul>
</nav>
